@import 'shared/main.css';

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--backgorund-color);
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-link {
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}

.menu-link:hover, .menu-link--active {
    color: rgba(0, 0, 0, 1);
}

.menu-link:visited {
    color: rgba(0, 0, 0, 0.5);
}