// Color palette
$primaryColor: #3498db;
$primaryColorDark: #3742fa;
$secondaryColor: #ff6348;
$backgroundColor:  #fff;
$surfaceColor: #3498db;
$neutralDarker: #7f8c8d;

// Fonts
$sourceSansPro: 'Source Sans Pro', sans-serif;
$roboto: 'Roboto', sans-serif;
$montserratAlternates: 'Montserrat Alternates', sans-serif;